
<div>
        
        <mat-form-field>
            <mat-select placeholder="Paciente" [(value)]="idPacienteSeleccionado">
                <mat-option *ngFor="let p of pacientes" [value]="p.idPaciente">
                    {{p.nombres}} {{p.apellidos}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    
       <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Fecha" [max]="maxFecha"
            [(ngModel)]="signos.fecha">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Temperatura" [(ngModel)]="signos.temperatura">
    </mat-form-field>
    <mat-form-field>
        <textarea matInput placeholder="Pulso" [(ngModel)]="signos.pulso"></textarea>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput placeholder="Ritmo" [(ngModel)]="signos.ritmo"></textarea>
    </mat-form-field>

</div>

<button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
<button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
